In [13]:
import os

import pandas as pd

In [14]:
path = '../data/football-data.co.uk'
files = os.listdir(path)
files

['BL25.csv', 'BL24.csv', 'BL20.csv', 'BL21.csv', 'BL23.csv', 'BL22.csv']

In [15]:
dfs = []
for file in sorted(files):
    df = pd.read_csv(os.path.join(path, file))
    df["Season"] = file.split(".")[0]
    df["GameDay"] = df.index // 9 + 1
    dfs.append(df)

df_all = pd.concat(dfs, axis=0).reset_index(drop=True)
df_all

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
0,D1,18/09/2020,19:30,Bayern Munich,Schalke 04,8,0,H,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D1,19/09/2020,14:30,Ein Frankfurt,Bielefeld,1,1,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,D1,19/09/2020,14:30,FC Koln,Hoffenheim,2,3,A,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D1,19/09/2020,14:30,Stuttgart,Freiburg,2,3,A,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,D1,19/09/2020,14:30,Union Berlin,Augsburg,1,3,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1633,D1,29/11/2025,14:30,Werder Bremen,FC Koln,1,1,D,1.0,0.0,...,3.00,2.15,3.75,3.00,2.20,3.7,3.00,2.20,3.6,3.00
1634,D1,29/11/2025,17:30,Leverkusen,Dortmund,1,2,A,0.0,1.0,...,2.60,2.60,3.70,2.45,2.62,3.6,2.50,2.60,3.6,2.50
1635,D1,30/11/2025,14:30,Hamburg,Stuttgart,2,1,H,1.0,0.0,...,2.40,2.63,3.60,2.45,2.70,3.5,2.45,2.70,3.5,2.45
1636,D1,30/11/2025,16:30,Ein Frankfurt,Wolfsburg,1,1,D,0.0,0.0,...,3.75,1.95,3.90,3.40,1.91,3.9,3.60,1.91,3.8,3.60
1637,D1,30/11/2025,18:30,Freiburg,Mainz,4,0,H,2.0,0.0,...,4.90,1.73,3.70,4.60,1.75,3.7,4.50,1.75,3.7,4.50

In [16]:


df_all["Result"] = df_all.apply(lambda row: f"{row['FTHG']}:{row['FTAG']}", axis=1)
df_all[["Season", "GameDay","Date", "FTHG", "FTAG", "Result", "FTR", 'BWCH', 'BWCD', 'BWCA']]

     Season  GameDay        Date  FTHG  FTAG Result FTR  BWCH   BWCD   BWCA
0      BL20        1  18/09/2020     8     0    8:0   H  1.10  12.00  18.50
1      BL20        1  19/09/2020     1     1    1:1   D  1.75   3.90   4.50
2      BL20        1  19/09/2020     2     3    2:3   A  2.65   3.40   2.65
3      BL20        1  19/09/2020     2     3    2:3   A  2.15   3.70   3.20
4      BL20        1  19/09/2020     1     3    1:3   A  2.35   3.25   3.20
...     ...      ...         ...   ...   ...    ...  ..   ...    ...    ...
1633   BL25       12  29/11/2025     1     1    1:1   D  2.20   3.70   3.00
1634   BL25       12  29/11/2025     1     2    1:2   A  2.60   3.60   2.50
1635   BL25       12  30/11/2025     2     1    2:1   H  2.70   3.50   2.45
1636   BL25       12  30/11/2025     1     1    1:1   D  1.90   3.90   3.60
1637   BL25       12  30/11/2025     4     0    4:0   H  1.77   3.70   4.50

[1638 rows x 10 columns]

In [22]:
#Value counts of results normalized per season
result_counts = df_all.groupby("Season")["Result"].value_counts(normalize=True).unstack().transpose()
# keep only most common results
most_common_results = result_counts.sum(axis=1).sort_values(ascending=False).head(10).index
result_counts.loc[most_common_results]

Season      BL20      BL21      BL22      BL23      BL24      BL25
Result
1:1     0.137255  0.133987  0.124183  0.133987  0.084967  0.101852
2:1     0.098039  0.094771  0.084967  0.075163  0.052288  0.092593
2:0     0.052288  0.062092  0.071895  0.068627  0.062092  0.055556
1:0     0.055556  0.075163  0.055556  0.045752  0.055556  0.074074
3:1     0.045752  0.045752  0.045752  0.065359  0.052288  0.092593
1:2     0.058824  0.055556  0.062092  0.058824  0.065359  0.046296
0:1     0.065359  0.039216  0.049020  0.058824  0.065359  0.064815
2:2     0.052288  0.049020  0.065359  0.062092  0.071895  0.027778
0:0     0.058824  0.052288  0.049020  0.042484  0.071895  0.046296
0:2     0.042484  0.052288  0.045752  0.026144  0.062092  0.027778

In [21]:
df_all.groupby("Season")["FTHG"].value_counts(normalize=True).unstack().transpose().fillna(0)

Season      BL20      BL21      BL22      BL23      BL24      BL25
FTHG
0       0.202614  0.166667  0.179739  0.179739  0.248366  0.222222
1       0.323529  0.339869  0.287582  0.294118  0.274510  0.277778
2       0.241830  0.241830  0.261438  0.248366  0.232026  0.203704
3       0.117647  0.137255  0.133987  0.166667  0.130719  0.194444
4       0.068627  0.068627  0.068627  0.068627  0.081699  0.064815
5       0.039216  0.029412  0.045752  0.029412  0.026144  0.009259
6       0.003268  0.009804  0.019608  0.003268  0.003268  0.027778
7       0.000000  0.006536  0.003268  0.003268  0.003268  0.000000
8       0.003268  0.000000  0.000000  0.006536  0.000000  0.000000